@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

.background-image 
{
    background-image: url('/images/poe2background.jpeg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 800px;
}

h1,h2,h3,h4,h5,h6,p{
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900; 
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
     
}

p {
    font-weight: 500; 
  }



.text-shadow-md {
    font-weight: 700; 

    
    text-shadow:
     -1px -1px 0 #ffffff,  
      1px -1px 0 #ffffff,
      -1px 1px 0 #ffffff,
       1px 1px 0 #ffffff;
}

.max-height-300 {
    max-height: 300px;
    object-fit: cover;
}

.image-container {
    display: inline-block;
    position: relative;
    cursor: grab;
}
.image-container img {
    display: block;
    position: absolute;
    cursor: grab;
}
.image-container .absolute {
    position: absolute;


}

.group:hover .group-hover

\:block {
    display: block;


}

.group:hover .group-hover\

:flex {
    display: flex;
}

.rounded-lg {
    border-radius: 0.5rem;
}